/* App.css */
body {
    background: #FFF;
    color: #FFF;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Set your desired minimum height */
    height: 200px; /* Set a fixed height */
  }